<section class="tlab-post-preview">
  <heading>
    <div>
      <div class="btn-group tlab-post-controls pull-right">
        <% if can? :manage, post %>
          <%= link_to t('.edit'), edit_post_path(post), class: 'btn btn-small edit' %>
          <%= link_to t('.delete'), post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger delete' %>
        <% end %>
      </div>

      <h2>
        <%= link_to post.title.titlecase, post %>
      </h2>
    </div>

    <p>
      <span class='publishedAt'><%= l post.published_at %></span>

      <% if post.author.respond_to? :given_name %>
        <span class='name-first'><%= post.author.given_name.titlecase %></span>
      <% end %>

      <% if post.author.respond_to? :family_name %>
        <span class='name-last'><%= post.author.family_name.titlecase %></span>
      <% end %>
    </p>
  </heading>

  <article>
    <%= post.preview.html_safe %>
  </article>
</section>
