<section class='tlab-post' itemscope itemtype='http://schema.org/Article'>
  <div class="row-fluid">
    <div class="span2">
      <%= render "sidebar_left", post: @post %>
    </div>

    <div class="span8">
      <%= render "post", post: @post %>
    </div>
  </div>

  <footer class="pagination clear-fix">
    <% unless @post.prev.nil? %>
      <%= link_to @post.prev, class: 'previous_page' do %>
        ← Previous
      <% end %>
    <% end %>
    <%= link_to t('.index'), Tlab::Post, class: 'post-index' %>
    <% unless @post.next.nil? %>
      <%= link_to @post.next, class: 'next_page' do %>
        Next →
      <% end %>
    <% end %>
  </footer>
</section>
