<p id="notice"><%= notice %></p>

<div itemscope itemtype='http://schema.org/Article'>
  <p>
    <strong>Title:</strong>
    <span itemprop='name'><%= @post.title %></span>
  </p>

  <p>
    <strong>Preview:</strong>
    <span itemprop='articleSection'><%= @post.preview %></span>
  </p>

  <p>
    <strong>Body:</strong>
    <span itemprop='articleBody'><%= @post.body %></span>
  </p>

  <p>
    <strong>Published at:</strong>
    <span itemprop='datePublished' content='<%= @post.published_at.try(:to_date) %>'><%= @post.published_at %></span>
  </p>

  <p>
    <strong>Author:</strong>
    <span itemprop='author' itemscope itemtype='http://schema.org/Person'>
      <% if @post.author.respond_to? :given_name %>
        <span itemprop='givenName'><%= @post.author.given_name %></span>
      <% end %>
      <% if @post.author.respond_to? :family_name %>
        <span itemprop='familyName'><%= @post.author.family_name %></span>
      <% end %>
      <% if @post.author.respond_to? :email %>
        <span itemprop='email' content='<%= @post.author.email %>'></span>
      <% end %>
    </span>
  </p>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>
