<section id='tlab-post' itemscope itemtype='http://schema.org/Article' >
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= render 'avatar', author: @post.author, img_size: 200 %>
    </div>

    <div class="span9">
      <header class="clearfix title">
      <h1 itemprop='name' class='pull-left' ><%= @post.title.titlecase %></h1>

      <span class='post-info pull-right' >
        <%= content_tag :span, class: 'published-at', itemprop: 'datePublished', content: @post.published_at.try(:to_date) do %>
          <%= l @post.published_at, format: :tlab %>
        <% end %>

        <span class='author' itemprop='author' itemscope itemtype='http://schema.org/Person'>
          <% if @post.author.respond_to? :google_plus %>
            <link rel='author' href='<%= @post.author.google_plus %>'>
          <% end %>

          <%= render 'author_name', author: @post.author %>

          <% if can? :manage, Tlab::Post %>
            <%= link_to t('.edit'), edit_post_path(@post), class: 'btn edit' %>
          <% end %>
        </span>
      </span>
      </header>
      <article itemprop='articleBody'>
      <p>
      <%= @post.body.html_safe %>
      </p>
      </article>
    </div>
  </div>
</div>
<footer class="clear-fix">
<div class="btn-group">
  <% unless @post.prev.nil? %>
    <%= link_to @post.prev, class: 'btn post-prev' do %>
      <i class="icon-caret-left"></i> Previous
    <% end %>
  <% end %>
  <%= link_to t('.index'), Tlab::Post, class: 'btn post-index' %>
  <% unless @post.next.nil? %>
    <%= link_to @post.next, class: 'btn post-next' do %>
      Next <i class="icon-caret-right"></i>
    <% end %>
  <% end %>
</div>
</footer>
</section>
