  <header>
    <div class="btn-group pull-right">
      <% if can? :manage, Tlab::Post %>
        <%= link_to t('.edit'), edit_post_path(@post), class: 'btn edit' %>
      <% end %>

      <%= link_to t('.back'), posts_path, class: 'btn btn-primary back' %>
    </div>

    <h2 itemprop='name' ><%= @post.title.titlecase %></h2>

    <p class='post-info' >
      <span class='publishedAt' itemprop='datePublished' content='<%= @post.published_at.try(:to_date) %>'><%= l @post.published_at %></span>

      <span class='author' itemprop='author' itemscope itemtype='http://schema.org/Person'>
        <% if @post.author.respond_to? :google_plus %>
          <link rel='author' href='<%= @post.author.google_plus %>'>
        <% end %>

        <% if @post.author.respond_to? :given_name %>
          <span class='name-first' itemprop='givenName'><%= @post.author.given_name.titlecase %></span>
        <% end %>

        <% if @post.author.respond_to? :family_name %>
          <span class='name-last' itemprop='familyName'><%= @post.author.family_name.titlecase %></span>
        <% end %>
      </span>
    </p>
  </header>

  <article itemprop='articleBody'>
    <p>
      <%= @post.body.html_safe %>
    </p>
  </article>

  <footer class="clear-fix">
    <% unless @post.prev.nil? %>
      <%= link_to @post.prev, class: 'pull-left btn' do %>
        <i class="icon-caret-left"></i> Previous
      <% end %>
    <% end %>
    <% unless @post.next.nil? %>
      <%= link_to @post.next, class: 'pull-right btn' do %>
        Next <i class="icon-caret-right"></i>
      <% end %>
    <% end %>
  </footer>
</section>
